:root {
    --bc: #191919;
    --mc: #eb2357;
    --sb: #fcd60a;
    --pc: #4bc4de;
    --fc: #fff;
}

* { outline: 1px solid #f00;}

body {
    background: #191919;
    font-size: 14px;
    line-height: 1.5;
    color: #fff;
}


/* 공통 */

/* input */
input {
    width: 230px;
    height: 32px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding: 0 40px 0 15px;
    background-color: rgb(233, 233, 233);
}
.search_box { position: relative;}
.search_box i {
position: absolute;
top: 5px;
right: 15px;
font-size: 21px;
font-weight: 500;
color: var(--bc);
}

/* 헤더 Top */
.hd_wrap { max-width: 1200px; width: 100%; margin: 0 auto;}

.top_service {
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
    align-items: center;
}

.top_right_s>ul {display: flex; gap: 30px;}
.top_right_s .project img {
    margin-right: 10px;
}

/* 언어박스  */
.top_right_s .lang {
    position: relative;
    float: left;
    margin: 0 20px 0 0;
    cursor: pointer;
    color: var(--mc);
}

.top_right_s .lang .arrow {
font-size: 7px;
vertical-align: 0.3em;
}

.top_right_s .lang.on .arrow {
transform: rotate(180deg);
}

.top_right_s .lang .lang_box {
display: none;
position: absolute;
top: 25px;
left: 50%;
padding: 8px 12px;
transform: translateX(-50%);

line-height: 1.45;
border: 1px solid var(--fc);
border-radius: 10px;
background: var(--bc);
color: var(--fc);
}

.top_right_s .lang.on .lang_box {
    display: block;
}

.top_right_s .lang_box li:hover {
    color: var(--mc);
}

/* 헤더 Bottom */
.btm_service {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btm_service .Gnb ul {
    display: flex;
    gap: 25px;
    align-items: center;
    font-size: 17px;
}
.btm_service .Gnb ul>li:hover {
    color: var(--sb);
}

/* 헤더 Bottom right 서비스 */
.btm_right_s {
    display: flex;
    gap: 30px;
    align-items: center;
}

.btm_opstore p {
    display: inline-block;
    padding: 5px 15px;

    border: 2px solid var(--sb);
    border-radius: 20px;
    font-size: 14px;
    color: var(--sb);
}

.btm_opstore p:hover {
    transition: 0.2s;
    font-weight: 500;
    color: var(--bc);
    background: var(--sb);
}

.btm_join ul {
    display:  flex;
    gap: 30px;
}

.btm_join img {
    width: 28px;
    height: 28px;
}



/* MainVisual */
.MainVisual {
    padding: 50px 20px;
    height: 100%;
}

  
.MainVisual figure {
    position: relative;
    border: 20px;
    padding: 0 20px 0 0;
}

.MainVisual figure img {
    width: 476px;
    height: 666px;
    overflow: hidden;
    border-radius: 30px;
}

/* .MainVisual .slideNum {
    position: absolute;
    bottom: 50%;
    left: 20%;
    margin: 0 0 0 -600px;
}

.MainVisual .slideTab {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-100%, -50%);
    margin: 0 0 0 600px;
} */

.MainVisual .dots-li {
    color: var(--fc);
}

.MainVisual .slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0 0 70px 0;
}

.MainVisual .dost-css {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.MainVisual .dost-css li {
    display: inline-block;
    width: 172px;
    height: 6px;
    background: #333;
}

.MainVisual .dost-css li::after {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

.MainVisual .dost-css li.slick-active { background: rgba(245, 33, 88, 1); }
.MainVisual .dost-css li button { display: none; }

/* MainVisual01 */
.slick-initialized .slick-slide {
    display: block;
    padding-right: 15px;
}

.first_sd { padding : 50px 0 0 0; }
.first_sd .box {
    padding: 15px 20px;
    box-sizing: border-box;
    border-radius: 50px;
    background: #fcd60a;
}

.first_sd .box a { display: flex;}
.first_sd .pf img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.first_sd .box a {
    align-items: center;
    font-size: 23px;
    font-weight: 500;
    color: var(--bc);
}

/* box2 */
.scd_sd { padding : 15px 0 50px 0; }
.scd_sd .box2 {
    padding: 15px 20px;
    box-sizing: border-box;
    border-radius: 50px;
    background: #fcd60a;
}

.scd_sd .box2 a { display: flex;}
.scd_sd .pf img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.scd_sd .box2 a {
    align-items: center;
    font-size: 23px;
    font-weight: 500;
    color: var(--bc);
}

/* Produce */
.sc {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 50px 0;
}

.sc .banner {
    padding: 0 0 100px 0;  
}

.sc .cba_box {
    display: flex;
    gap: 30px;
}